
.whole-container{
    /* border: 2px solid red; */
    background-color: darkgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drum-machine{
    border: 5px solid orange;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.digits {
    flex-shrink: 0;
    margin: 25px;
    width: 350px;
    padding: 5px;
}

.other {
    flex-shrink: 0;
    margin: 30px;
    width: 280px;
    display: block;
    text-align: center;
}

.power-text{
    align-items: center;
}
.power-text p{
    margin: 0;
}


.drum-pad {
  background-color: gray;
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  padding-top: 25px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
.well-parent {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
  
.well {
    background-color: darkgray;
    height: 50px;
    width: 60%;
    padding-top: 10px;
    font-weight: bold;
}

